body {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -5;
  background: linear-gradient(149deg, rgba(24,187,156,1) 0%, rgba(106,57,175,1) 42%, rgba(187,24,148,1) 72%, rgba(115,53,134,1) 100%);
  animation: gradient 10s infinite linear; 
  background-size: 400%; 
}

.wrapper {
  max-height: 100vh;
  text-align: center;
}

.canvas-wrapper {
  display: block;
  margin-left: 300px;
  margin-top: 60px;
  width: 600px;
}

canvas {
  cursor: none;
}

.button {
  position: absolute;
  left: 85px;
  top: 116px;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
} 
.button:hover {
  background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}
.button:active {
  background: linear-gradient(#f59500, #f5ae00) #f59500;
}

.title {
  display: inline-block;
  max-width: 1000px;
  color: #fff;
  margin: 0 auto;
  padding-top: 20px; 
  transition: ease 1s all;
}
.title:hover {
  cursor: pointer;
  color: #F3AE0F;
}

.table {
  padding: 10px;
  width: 300px;
  height: 150px;
  position: absolute;
  top: 117px;
  right: 80px;
  text-align: center;
  background:#f1f1f3;
  border: 3px solid black;
  z-index: 5;
  color: rgb(14, 13, 13);
}

.table h3 {
  margin: 0;
  margin-top: 20px;
  font-weight: 700;
  font-size: 32px;
}

.table p {
  margin-top: 25px;
  font-weight: 700;
  font-size: 40px;
}


@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.swing:hover {
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
}
